body {
  font-family: "Georgia", sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

header {
  background-color: #66cccc;
}
.inputs {
  font-size: 1.3rem;
  color: #ff6b6b;
  font-family: "Georgia";
  letter-spacing: 0.2rem;
  width: 100%;
  letter-spacing: 0.07rem;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2rem;
  color: white;
}

main {
  max-width: 800px;
  margin: 20px auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.feedback-form h2 {
  text-align: center;
  color: #333333;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: #333333;
}

input[type="radio"],
input[type="checkbox"] {
  margin-right: 5px;
}

textarea,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

button {
  background-color: #66cccc;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #4d8c8c;
}
