* {
  font-family: "Georgia";
}
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

header {
  background-color: #66cccc;
}

nav {
  padding: 0.5rem;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 2.5rem;
  color: white;
  text-decoration: none;
  margin-left: 1rem;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links li {
  display: inline;
  margin-left: 1.5rem;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
}

.hero {
  text-align: center;
  padding: 0.5rem 2rem;
  color: white;
}

.hero h1 {
  font-size: 3rem;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.content {
  display: flex;
}
main {
  padding: 4rem 2rem;
}
img {
  height: 18rem;
  margin-left: 2rem;
  border: 2px solid black;
}
section {
  margin-bottom: 4rem;
}

section h2 {
  font-size: 2.5rem;
  color: #3d315b;
}

section p {
  font-size: 1.2rem;
  color: #4a4e4d;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  line-height: 2rem;
  text-align: justify;
  text-justify: inter-word;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #ffadad;
  color: white;
  text-decoration: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #cc6666;
}
